@import "tailwindcss";

root {
  --background: #ebeaea;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

.project-link { /* Meant for text with links in project card desc */
  color: #3b82f6;
  text-decoration: underline;
}

.project-link:hover {
  color: #2563eb;
}

.text {
  color: var(--foreground);
}

.card-background{
  background-color: var(--card-background);
}

.card-desc-text{
  color: var(--card-desc-text);
  font-size: 14px;
}

.card-tag{
  background-color: var(--tag-background);
}

.searchbar {
  background-color: var(--searchbar-background);
  color: var(--searchbar-text);
}

.footer {
  background-color: var(--footer-background);
}